
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


 .s{
    height: 100vh;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 3px;
}

#lng{

    width: 22px;
    height: 22px;
    border-radius: 50%;
}

#lng2{

    width: 20px;
    height: 20px;

}

.myicon{

    color: #09b1f4;
    font-size: 250%;
}

 h2{
    text-align: center;
    margin: 2%;
    font-size: 200%;
}

.section p{

    width: 90%;
    margin: auto;
    font-size:100%;

}

.boxgallery{

    width: 100%;
    padding: 50px;

}

.gallery{

    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 3%;
}

.gallery img {

    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 5);
    transition: 0.4 ease;
}

.gallery img:hover{

    transform: scale(1.1);
}


.footer{

    width: 100%;
    text-align: center;
   
    height: 25vh;
    background-color: rgb(0, 0, 0);
    

}
.btn{
   color: #ffffff;
   font-size: 150%;
  
  
}

.btn:hover{

    color: rgb(237, 221, 4);

}

.data-t{
    
   text-align: start;
   margin-left: 2%;
    color: white;
    font-size:small;
    display: inline;
}


.footer h3 {

    color: rgb(237, 221, 4);

}

.cards{

    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 25px;
    
}



.container{

    display: grid;

    

  
}

    




@media screen and (max-width:600px) {


    .footer{

        width: 100%;
        text-align: center;
        background-color: aliceblue;
        height: 35vh;
        background-color: rgb(0, 0, 0);
        
    
    }


    
.data-t{
    
    text-align: center;
   
     color: white;
     font-size:small;
     display: block;
 }
 

 .cards{

   
    display: grid;
    grid-template-columns: repeat(1 , 1fr);

    place-items:center;
   
    justify-content: center;
    
}




    
}